:root{
  --displayColor: #d9d9d9;
  --numbersColor: #A3A3A3;
  --functionsColor: #919191;
  --textColor: #000000;
  --translucent: #00000033;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--textColor);
}
body{
  overflow-x: hidden;
  overflow-y: hidden;
}
hr{
  height: 1px;
  background-color: var(--textColor);
  border: none;
}
#historyHeader sup{
  color: inherit;
}
#uifCalculator::-webkit-scrollbar {
  width: 2vh;
  
}

#uifCalculator::-webkit-scrollbar-track {
  background: transparent;
  margin-bottom: 40px;
}
#uifCalculator::-webkit-scrollbar-thumb {
  width: 5;
  min-height: 30px;
  background: var(--translucent); 
  border-radius: 10px;
}
#uifCalculator::-webkit-scrollbar-button:end:increment {
  height: 7px;
  display: block;
  background: transparent;
}
#uifCalculator::-webkit-scrollbar-button:start:increment {
  height: 7px;
  display: block;
  background: transparent;
}
input:focus, #EquationFunc:focus, select:focus{
  outline: none;
}
[contenteditable] {
  outline: 0px solid transparent;
}
#tab {
  position: absolute;
  overflow: hidden;
  float: bottom;
  border:0px;
  height: 35px;
  width: 100%;
  display: inline-flex;
  z-index: 1;
}
#mobileTabs{
  visibility: hidden;
  z-index: 3;
  position: absolute;
  background-color: transparent;
  border: none;
  display: grid;
  place-items: center;
}
#mobileTabs h3{
  margin: 0;
}
#tabNum{
  margin: 0px;
}
#tabContainer{
  position: absolute;
  left:0;
  height: 40px;
  right: 40px;
}
.tablinks {
  position: relative;
  background-color: var(--functionsColor);
  color: var(--textColor);
  border: none;
  cursor: pointer;
  height: 90%;
  top: 10%;
  width:fit-content;
  padding: 0px 15px 0 15px;
  font-size: 17px;
  border-radius: 15px 15px 0 0;
  display: inline-flex;
  -webkit-tap-highlight-color: transparent;
}
button:focus, input[type="button"]:focus {
  outline: none;
}
#tabContainer button h3{
  font-size: 17px;
  font-weight: normal;
  margin-top: 6.5px;
}
.textOverlay{
  position: absolute;
  z-index: 1;
  background-color: transparent;
  color: var(--textColor);
  border: none;
  font-size: 15px;
}
.matchCircle{ 
  position: absolute;
  top: 3.33335px;
  left: 3.33335px;
  height: 33.3333px;
  width: 33.3333px;
  background-color: var(--translucent);
  text-align: center;
  justify-content: center;
  border-radius: 50%;
}
.memText{
  color: var(--textColor);
  position: absolute;
  text-align: center;
  width: 33px;
  height: 14;
  top: 9.66665;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
#overlayDiv{
  height: 40px;
  width: 100%;
  bottom: 66.6666%;
  position: absolute;
}
#MRCOverlay{
  height: 40px;
  width: 40px;
  left: 0px;
}
#MAddOverlay{
  height: 40px;
  width: 40px;
  left: 40px;
}
#memoryDiv{
  height: 40px;
  left: 80px;
  right: 80px;
  position: absolute;
}
#memoryTextBoarder{
  left: 0;
  top: 3.33335px;
  background-color: var(--translucent);
  max-width: 100%;
  width: auto;
  position: absolute;
  overflow-x: hidden;
  border-radius: 25px;
  visibility:hidden;
}
#memoryText{
  width: auto;
  max-width: inherit;
  color: var(--textColor);
  position: relative;
  height: 33.3333px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-weight: lighter;
  font-size: 30px;
}
#memoryText::-webkit-scrollbar-thumb {
  width: 2px;
  background: #00000080; 
  border-radius: 10px;
}
#leftOverlayNav{
  position: absolute;
  z-index: 1;
  right: 40px;
}
#rightOverlayNav{
  position: absolute;
  z-index: 1;
  right: 0px;
}
#num1{
  border-radius: 15px 0 0 0;
}
#num3{
  border-radius: 0 15px 0 0;
}
#piButton{
  border-radius: 0 0 0 15px;
}
#pointButton{
  border-radius: 0 0 15px 0;
}
.specialElements{
  background-color: var(--functionsColor);
}
#tab button.active {
  background-color: var(--displayColor);
}
#mainBody{
  background-color: var(--functionsColor);
  min-height: 600px;
  min-width: 310px;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100%;
}
#displayClip{
  position: absolute;
  width: 75%;
  height: 33.3333%;
  max-height: 33.3333%;
  background-color: var(--displayColor);
  overflow: hidden;
}
  .text-area{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    border: none;
    color: var(--textColor);
    background-color: transparent;
    padding-right: 10px;
    padding-bottom: 40px;
    position: absolute;
  }
  .text-area:focus{
    border: transparent;
  }
  .historyDateHeader{
    border-radius: 25px;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--functionsColor);
    color: var(--displayColor);
  }
  #historyHeader{
    margin-left: 5px;
    font-weight: lighter;
    font-size: 25px;
    color: var(--functionsColor);
    direction: ltr
  }
  #historyTimeSubHeader{
    font-size: 15px;
    color: var(--functionsColor);
  }
  #enterHeader{
    width: 100%;
    font-weight: lighter;
    font-size: 30px;
    text-indent: 5px;
    direction: ltr;
  }
  .mainCacGrid {
    width: 100%;
    top: 33.3333%;
    height: 66.6666%;
    display: grid;
    grid-gap: 0px 0px;
    margin:0px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 16.6666% 16.6666% 16.6666% 16.6666% 16.6666% 16.6666%;
    background-color: #00000000;
    position: absolute;
    grid-template-areas: 
      "num1 num2 num3 moreFuncBut"
      "num4 num5 num6 backspace"
      "num7 num8 num9 plus"
      "pi num0 point minus"
      "percent pars pow mutiplication"
      "enter pow2 sqrt division";
  }
  #extendedFuncGrid{
    height: 100%;
    top:33.3333%;
    width: relative;
    left: 400px;
    right: 0;
    max-width: 200px;
    display: grid;
    grid-gap: 0px 0px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 11.1111% 11.1111% 11.1111% 11.1111% 11.1111% 11.1111%;
    background-color: #00000000;
    position: absolute;
    z-index: 1;
    grid-template-areas: 
    "help func"
    "his vars"
    "mod abs"
    "sin deg"
    "cos arc"
    "tan inv"
    "d-f fact"
    "ln log"
    "log10 e";
  }
  .button-item {
    padding: 0px;
    height: 100%;
    width: 100%;
    font-size: 100%;
    background-color: var(--displayColor);
    text-align: center;
  }
  .function-item {
    padding: 0px;
    height: 100%;
    width: 100%;
    font-size: 30px;
    display: block;
    background-color: var(--displayColor);
    text-align: center;
  }
  .numsbutton {
    height: 100%;
    width: 100%;
    font-size: 20px;
    color: var(--textColor);
    background-color: var(--numbersColor);
    text-align: center;
    border-style: none;
  }
  .numsbutton:focus {
    outline: none;
    box-shadow: none;
  }
  .funcbutton {
    height: 100%;
    width: 100%;
    font-size: 20px;
    color: var(--textColor);
    background-color: var(--functionsColor);
    text-align: center;
    border-style: none;
  }
  .funcbutton:focus {
    outline: none;
    box-shadow: none;
  }
  #extraFuncPopUp{
    height: 66.6666%;
    width: 100%;
    top: 100%;
    display: block;
    position:absolute;
    z-index: 1;
    visibility:visible;
  }
  #custFuncGridPopup{
    position: absolute;
    left: 0;
    width: 100%;
    top: 40px;
    bottom: 10px;
    display: inline-flex;
    overflow-x: auto;
  }
  #custFuncGridPopup button {
    margin-left: 3.3333%;
    bottom: 5px;
    position: relative;
    background-color: var(--displayColor);
    color: var(--textColor);
    width: 45%;
    z-index: 2;
    flex-shrink: 0;
    border: none;
    border-radius: 25px;
    top: 2.5%;
    height: 95%
  }
  #customFuncButton{
    width: 30.33333333333333333%;
    margin-left: 2.25%;
  }
  .trigButton{
    height: 100%;
    width: 100%;
    font-size: 20px;
    color: var(--textColor);
    background-color: var(--functionsColor);
    text-align: center;
    border-style: none;
  }
  .clearModifiers{
    top: 0;
    left: 10px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    position: absolute;
  }
  .addIcon{
    top: 0;
    left: 10px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    position: absolute;
  }
  .minusIcon{
    left: 48px;
    top: 0;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    position: absolute;
  }
  #customFuncDisplayPopup{
    height: 33.3333%;
    width: 100%;
    top: 0;
    background-color: var(--numbersColor);
    border-radius: 15px;
    position: absolute;
    z-index: 1;
    overflow-x:auto;
    flex-wrap: nowrap;
    display:flex;
    flex-shrink: 0;
  }
  #funcModify {
    align-content: center;
    position: absolute;
    display: inline-block;
    left: 1.5px;
    padding-top: 10px;
  }
  #funcModify:hover .drop-cont {
    display: block;
  }
  .drop-cont {
    display: none;
    position: absolute;
    background-color: var(--displayColor);
    min-width: 50px;
    z-index: 1;
    border-radius: 0px 0 15px 15px;
  }
  .drop-cont a {
    color: var(--textColor);
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: block;
  }
  #funcModify:hover #modBtn {
    border-radius: 15px 15px 0px 0px;
  }
  #modBtn {
    background-color: var(--displayColor);
    color: var(--textColor);
    border-radius: 25px;
    width: 50px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    align-self: center;
    height: 35px;
    -webkit-tap-highlight-color: transparent;
  }
  .customFuncDisplayBackgroundPopup{
    height: 44.4444%;
    left: 0;
    top: 11.1111%;
    background-color: var(--functionsColor);
    position: relative;
    z-index: -1;
  }
  .extraFuncPopUpGrid {
    position: absolute;
    height: 66.6666%;
    width: 100%;
    top: 33.3333%;
    display: grid;
    grid-gap: 0px 0px;
    margin:0px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    background-color: #00000000;
    padding: 0px;
  }
  #minusFunctionPopup{
    left: 48px;
  }
  #moreFunctionsButton{
    height: 100%;
    width: 100%;
    font-size: 15px;
    color: var(--textColor);
    background-color: var(--functionsColor);
    text-align: center;
    text-indent: -30px;
    border-style: none;
    position: relative;
    grid-area: moreFuncBut;
  }
  #customFuncDisplay{
    visibility: hidden;
    height: 100%;
    left: 0;
    overflow-y: auto;
    background-color: var(--functionsColor);
    position: relative;
    z-index: 1;
  }
  #customFuncDisplay::-webkit-scrollbar {
    width: 2vh;
    
  }
  
  #customFuncDisplay::-webkit-scrollbar-track {
    background: transparent;
    margin-bottom: 40px;
  }
  #customFuncDisplay::-webkit-scrollbar-thumb {
    width: 5;
    min-height: 30px;
    background: var(--translucent); 
    border-radius: 10px;
  }
  #customFuncDisplay::-webkit-scrollbar-button:end:increment {
    height: 7px;
    display: block;
    background: transparent;
  }
  #customFuncDisplay::-webkit-scrollbar-button:start:increment {
    height: 7px;
    display: block;
    background: transparent;
  }
  #customFuncDisplay hidden{
    visibility: hidden;
  }
  #customFuncDisplayGrid{
    top: 60px;
    bottom: 0px;
    left: 0;
    right: 0;
    position: absolute;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 120px;
  }
  #customFuncDisplayGrid button {
    width: 95%;
    height: 90%;
    top: 5%;
    left: 2.5%;
    border-radius: 25px;
    border: none;
    background-color: var(--numbersColor);
  }
  #customFuncDisplayRecentText{
    right: 5px;
    top: 5px;
    left: 2.5%;
    width: 95%;
    text-align: left;
    color: transparent;
    color: var(--textColor);
    background-color: var(--numbersColor);
    text-align: right;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 10px;
    border-radius: 25px;
  }
  #settingsCogIcon{
    top: 0;
    right: 0;
    position: absolute;
  }
  .tranparentOverlayButtons{
    color: var(--textColor);
    background-color: transparent;
    font-size: 20px;
    border: none;
    z-index: 1;
    width: 25%;
    height: 30%;
    right: -37.5%;
    top: -100%;
    position: relative;
  }
  .arc{
    position: absolute;
    border: none;
    font-size: 15px;
    color: var(--textColor);
    background-color: transparent;
    z-index: 1;
    width: 40px;
    height: 40px;
    position: relative;
    flex-shrink: 0;
  }
  .arcText{
    color: var(--textColor);
    position: absolute;
    text-align: center;
    width: 33px;
    height: 14;
    top: 9.66665;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
  }
  #sinSlideDiv{
    display:flex;
  }
  #ac{
    font-size: 15px;
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 1;
    right: 40px;
    flex-shrink: 0;
  }
  #backspace{
    flex-shrink: 0;
    grid-area: backspace;
  }
  #backspaceDiv{
    display:flex;
  }
  #arrowButton{
    top: inherit;
    right: 0;
    font-size: 15px;
    text-align: center;
    border-style: none;
    background-color: #00000000;
    position:absolute;
    z-index: 2;
  }
  #arrowIcon{
    transform:rotate(270deg);
    animation: "0.25s linear 0s 1 normal forwards running toDown";
    top: inherit;
    right: 0;
    font-size: 15px;
    text-align: center;
    border-style: none;
    background-color: #00000000;
    position: absolute;
    z-index: 2;
  }
  .backIcon{
    transform: rotate(180deg);
    background-color: transparent;
    z-index: 1;
  }
  #backButton{
    font-size: 15px;
    text-align: center;
    border-style: none;
    background-color: transparent;
    z-index: 2;
  }
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  width: 5px;
  background: #00000080; 
  border-radius: 10px;
}
::-webkit-scrollbar-button:end:increment {
  height: 7px;
  display: block;
  background: transparent;
}
::-webkit-scrollbar-button:start:increment {
  height: 7px;
  display: block;
  background: transparent;
}
  .tabcontent {
    position:absolute;
    width: 100%;
    left: 0;
    top: 35px;
    bottom: 0;
  }
  .tabCustomcontent{
    position:absolute;
    width: 100%;
    left: 0;
    top: 35px;
    bottom: 0;
    -webkit-animation: fadeEffect 0.05s;
    animation: fadeEffect 0.05s;
  }
  #customValue{
    position: absolute;
    z-index: -1;
    visibility: hidden;
  }
  
  #displayText{
    visibility: hidden;
  }
  #addFunctionEx{
    z-index: 1;
    left: unset;
    right: 60px;
    top: 8.5px;
  }
  #minusFunctionEx{
    z-index: 1;
    left: unset;
    right: 20px;
    top: 8.5px;
  }
  #nameEntry{
    position: absolute;
    background-color: #00000075;
    width: 100%;
    height: 100%;
    z-index: 6;
    display: grid;
    justify-items: center;
    align-items: center;
    visibility: hidden;
  }
  #entryDiv{
    width:80%;
    max-width: 400px;
    height: 30%;
    border-radius: 30px;
    background-color: var(--functionsColor);
    position: absolute;
  }
  #entryNameHeader{
    left : 10px;
    top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25px;
    background-color: var(--displayColor);
    position: absolute;
  }
  #confirmNameEntry{
    position: absolute;
    right: 50px;
    top: 8.6px;
    position: absolute;
  }
  #exitNameEntry{
    position: absolute;
    right: 10px;
    top: 8.6px;
    position: absolute;
  }
  #nameEntryArea{
    outline: none;
    resize: none;
    border: none;
    position: absolute;
    background-color: var(--numbersColor);
    padding: 10px;
    font-size: 30px;
    height: calc(100% - 67.2px);
    width: calc(100% - 20px);
    top: 57.2px;
    left: 10px;
    border-radius: 25px;
  }
  #varsDiv{
    display: grid;
    position: absolute;
    z-index: 4;
    visibility: hidden;
  }
  .varItem{
    font-size: 20px;
    color: var(--textColor);
    background-color: var(--functionsColor);
    text-align: center;
    border-style: none;
  }
  #arrowVarIcon{
    transform: rotate(180deg);
  }
  #tabNum{
    position: absolute;
  }
  @keyframes buttonSlide{
    from {}
    to{}
  }
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  @keyframes slideFromSide{
    from {left: 100%;}
    to {left: 66.66666%;}
  }
  @keyframes toUp{
    0%{transform:rotate(-90deg)}
    100% {transform:rotate(90deg)}
  }
  @keyframes toDown{
    0%{transform:rotate(90deg)}
    100% {transform:rotate(-90deg)}
  }
  @keyframes toSlideUp{
    0%{
      top: 100%;
    }
    100% {
      top: 33.3333%;
    }
  }
  @keyframes toSlideDown{
    0%{
      top: 33.3333%;
    }
    100% {
      top: 100%;
    }
  }
  @keyframes modeSwitch{
    0%{
      left: 0px;
    }
    50%{
      left: 75px;
    }
    100% {
      left: 150px
    }
  }
  @keyframes sveForSwitch{
    0%{
      left: 75px;
    }
    100% {
      left: 0px
    }
  }
  @keyframes sveBacSwitch{
    0%{
      left: 75px;
    }
    100% {
      left: 150px
    }
  }
  #DisplayColorPicker{
    initial-value: var(--displayColor);
  }
  @media only screen and (max-aspect-ratio: 3/4) {
    #tab{
      height: 50px;
    }
    #mobileTabs{
      visibility: visible;
      left:0;
    }
    .tablinks{
      visibility: hidden;
    }
    .tabcontent {
      position:absolute;
      top: 50px;
      bottom: 0;
    }
    #displayClip{
      border-radius: 20px 20px 0 0;
      width: 100%;
    }
    .mainCacGrid{
      width: 100%;
      grid-template-areas: 
      "num1 num2 num3 moreFuncBut"
      "num4 num5 num6 backspace"
      "num7 num8 num9 plus"
      "pi num0 point minus"
      "percent pars pow mutiplication"
      "enter pow2 sqrt division";
    }
    #extendedFuncGrid{
      left: 100%;
    }
    #moreFunctionsButton{
      border-radius: 0 15px 0 0;
    }
    #arrowIcon{
      opacity: 1;
  }
  #backExMini{
    visibility: hidden;
  }
  #DisplayLabel{
    initial-value: "Display";
  }
  #customFuncDisplay{
    visibility: hidden;
  }
  #settingsCogIcon{
    width: 50px;
    height: 50px;
    position: absolute;
  }
}
@media only screen and (min-aspect-ratio: 3/4) and (max-aspect-ratio: 2/1){
  #tab{
    height: 40px
  }
  #settingsCogIcon{
    width: 40px;
    height: 40px;
    top: 0;
  }
  .tabcontent{
    top: 40px;
  }
  .tablinks{
    left:0;
  }
  #displayClip{
    width: 66.6666%;
    max-width: 100%;
    border-radius: 0 25px 25px 0;
  }
  .mainCacGrid {
    width: 66.6666%;
    bottom: 0;
    padding: 0px;
  }
  #extendedFuncGrid{
    top: 0;
    height: 100%;
    width: 33.3333%;
    left: 66.6666%;
    max-width: 100%;
  }
  #varsDiv{
    top: 0;
    height: 40%;
    width: 33.3333%;
    left: 66.6666%;
    max-width: 100%;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  #arrowIcon{
      opacity: 0;
      animation: 0.25s ease-in 0s 1 normal forwards running toDown;
  }
  #extraFuncPopUp{
    visibility: hidden;
  }
  #overlayDiv{
    width: 66.6666%;
  }
  #customFuncDisplay{
    background-color: var(--functionsColor);
    visibility: visible;
    width: 33.333%;
    left: 100%;
    position: absolute;
    z-index: 1;
    border-radius: 0 0 0 0;
  }
  
  #backExMini{
    position: absolute;
    z-index: 1;
    left: 10px;
    top: 8.5px;
  }
  #customFuncDisplayGrid .button {
    width: 95%;
    height: 90%;
    top: 5%;
    right: 2.5%;
    border-radius: 25px;
    border: none;
    background-color: var(--numbersColor);
  }
  #customFuncDisplayGrid{
    grid-template-columns: 100%;
  }
  .text-area{
    direction: rtl;
  }
  #customFuncDisplayRecentText{
    color: transparent;
  }
}

@media only screen and (max-height: 450px) {
  #tab{
    height: 40px
  }
  #settingsCogIcon{
    width: 40px;
    height: 40px;
  }
  #displayClip{
    width: 66.6666%;
    left: 33.3333%;
    max-width: 100%;
    max-height: 45%;
    border-radius: 0 25px 25px 0;
  }
  #Container{
    background-color: var(--functionsColor);
  }
  #overlayDiv{
    bottom: 55%;
  }
  .mainCacGrid {
    width: 66.6666%;
    left: 33.3333%;
    height: 55%;
    top: 45%;
    bottom: 0;
    padding: 0px;
    grid-template-columns: 16.666% 16.666% 16.666% 16.666% 16.666% 16.666%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas: 
      "pow num1 num2 num3 plus moreFuncBut"
      "pow2 num4 num5 num6 minus backspace"
      "sqrt num7 num8 num9 mutiplication pars"
      "enter pi num0 point division percent";
  }
  #piButton{
    border-radius: 0
  }
  #pointButton{
    border-radius: 0
  }
  #extendedFuncGrid{
    top: 0;
    height: 100%;
    width: 33.3333%;
    left: 0;
    max-width: 100%;
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    grid-template-rows: 16.6666% 16.6666% 16.6666% 16.6666% 16.6666% 16.6666%;
    grid-template-areas: 
    "his help func"
    "vars abs d-f"
    "deg inv arc"
    "sin cos tan"
    "mod log10 fact"
    "log ln e";
  }
  #varsDiv{
    top: 0;
    height: 100%;
    width: 33.3333%;
    left: 0;
    max-width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    position: absolute;
    z-index: 4;
  }
  
  
  #arrowIcon{
      opacity: 0;
      animation: 0.25s ease-in 0s 1 normal forwards running toDown;
  }
  #extraFuncPopUp{
    visibility: hidden;
  }
  #overlayDiv{
    width: 66.6666%;
  }
  #customFuncDisplay{
    background-color: var(--functionsColor);
    visibility: visible;
    width: 33.333%;
    left: 100%;
    position: absolute;
    z-index: 1;
    border-radius: 0 0 0 0;
  }
  
  #backExMini{
    position: absolute;
    z-index: 1;
    left: 10px;
    top: 8.5px;
  }
  #customFuncDisplayGrid .button {
    width: 95%;
    height: 90%;
    top: 5%;
    right: 2.5%;
    border-radius: 25px;
    border: none;
    background-color: var(--numbersColor);
  }
  #customFuncDisplayGrid{
    grid-template-columns: 100%;
  }
  .text-area{
    direction: rtl;
  }
  #displayClip{
    height : 100%;
  }
  #customFuncDisplayRecentText{
    color: transparent;
  }
}
@media only screen and (max-width: 451px){
  
}
@media only screen and (min-aspect-ratio: 5/3)  and (min-height: 451px){
  #displayClip{
    width: 40%;
    max-width: 100%;
    resize:none;
    border-radius: 0 25px 25px 0;
  }
  .mainCacGrid {
    width: 40%;
    bottom: 0;
    padding: 0px;
  }
  #extendedFuncGrid{
    top:0;
    height: 100%;
    width: 20%;
    left: 40%;
    max-width: 100%;
  }
  #arrowIcon{
      opacity: 0;
  }
  #customFuncDisplay{
    visibility: visible;
    height: 100%;
    width: 40%;
    left: 60%;
    background-color: var(--displayColor);
    position: absolute;
    z-index: 1;
    border-radius: 25px 0 0 0;
  }
  #extraFuncPopUp{
    visibility: hidden;
  }
  #overlayDiv{
    width: 40%;
  }
  #customFuncDisplayRecentText{
    color: var(--textColor);
    text-align: center;
  }
  #customFuncDisplayGrid{
    grid-template-columns: 50% 50%;
  }
  #backExMini{
    visibility: hidden;
  }
}
#settingsBody{
  background-color: var(--displayColor);
  min-height: 600px;
  min-width: 302px
}
#navColumn{
  width: 15%;
  height: 100%; 
  background-color: var(--functionsColor);
}
.navButtons{
  font-size: 18px;
  color: var(--textColor);
  background-color: var(--numbersColor);
  position: relative;
  text-align: left;
  text-indent: 50px;
  top: 0;
  border: none;
  left: 2%;
  height: 100px;
  width: 96%;
  margin-top: 10px;
  border-radius: 50px;
  min-width: 0;
  overflow-x: auto;
}
.settingsIcon{
  left:0;
  top: 0;
  align-self: center;
  position: absolute;
}
.settingTabContent{
  visibility: hidden;
  left: 15%;
  top: 0;
  height: 100%;
  width: 85%;
  position: absolute;
  background-color: var(--displayColor);
}
.settingBackButtons{
  font-size: 15px;
  text-align: center;
  border-style: none;
  background-color: transparent;
  z-index: 2;
  background-color: transparent;
  visibility: hidden;
}
#colorsTab{
  visibility: visible;
  overflow-y: auto;
}
.settingsHeaders{
  left: 35px;
  height: 20px;
  top: 0;
  color: var(--textColor);
  text-align: center;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
}
.topLine{
  top: 35px;
  width: 100%;
  position: absolute;
}
.h2Settings{
  color: var(--textColor);
  text-align: center;
  position: absolute;
  left: 15;
  font-family: Arial, Helvetica, sans-serif;
}.h5Settings{
  color: var(--textColor);
  text-align: left;
  text-overflow:ellipsis;
  position: inherit;
  font-family: Arial, Helvetica, sans-serif;
  align-self:center;
  margin-right: 15px;
  margin-left: 5px;
}
.h5Colors{
  color: var(--textColor);
  text-align: left;
  text-overflow:ellipsis;
  position: inherit;
  font-family: Arial, Helvetica, sans-serif;
  align-self:center;
  margin-right: 15px;
  margin-left: 5px;
}
#topNavColumn{
  height: 75px;
}
#showcaseTextColor{
  color: var(--textColor);
}
#ColorsDiv{
  background-color: var(--functionsColor);
  height: 305px;
  border-radius: 25px;
  align-self: center;
  position: absolute;
  top: 40px;
  left: 2.5%;
  width: 95%;
}
.colorPicker{
  align-self: center;
  height: 25px;
  position: relative;
  border-style: solid;
  border-color: var(--textColor);
  border-radius: 15px;
  outline: none;
  right: 15px;
  background-color: transparent;
  position: absolute;
}
.colorPicker::-webkit-color-swatch-wrapper {
	padding: 0;
}
.colorPicker::-webkit-color-swatch {
	border: none;
  border-radius: 15px;
}
.colorsLabels{
  display:flex;
  left: 15px;
  position: relative;
  align-self: center;
  align-content: center;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--textColor);
}
#colorsHeader{
  top: 10px;
  background-color: var(--numbersColor);
  padding: 5px 10px;
  border-radius: 25px;
}
#dropbtn {
  background-color: var(--numbersColor);
  color: var(--textColor);
  border-radius: 15px;
  padding: 8px 8px;
  width: 65px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  align-self: center;
  height: 35px;
  -webkit-tap-highlight-color: transparent;
}

#textdropdown {
  top: -8px;
  align-content: center;
  position: absolute;
  display: inline-block;
  right: 15px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--numbersColor);
  min-width: 80px;
  z-index: 1;
  border-radius: 0px 15px 15px 15px;
}

.dropdown-content a {
  color: var(--textColor);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#textdropdown:hover .dropdown-content {
  display: block;
}

#textdropdown:hover #dropbtn {
  border-radius: 15px 15px 0px 0px;
}
#colorPickerGrid{
  top: 50px;
  display: grid;
  position: absolute;
  height: 250px;
  right: 10px;
  left: 190px;
  grid-template-columns: 100%;
  grid-template-rows: 62.5px 62.5px 62.5px 62.5px;
  justify-content: center;
  align-content: end;
}
.textDisplay{
  color: var(--textColor);
  text-align: center;
  position: absolute;
  left: 5;
  font-family: Arial, Helvetica, sans-serif;
}
#displayPreview{
  border-width: 0.0000000005px;
}
#displayMain{
  border-width: 0.0000000005px;
  left: 2.5%;
  top: 33px;
  width: 95%;
  max-width: 300px;
  border-radius: 20px;
  visibility: hidden;
}
#displayFunc{
  border-width: 0.0000000005px;
  left: 2.5%;
  top: 33px;
  width: 95%;
  max-width: 300px;
  border-radius: 20px;
  visibility: hidden;
}
#bodyFunc{
  top: 20%;
  height: 80%;
}
#equtDisplayFunc{
  text-align: start;
  width: 90%;
  margin-top: 8px;
  margin-left: 2.5%;
  font-size: 15px;
}
.displayBase{
  background-color: var(--displayColor);
  height: 230px;
  width: 180px;
  position: absolute;
  border-color: var(--textColor);
  border-width: 0.5px;
  border: solid;
  border-radius: 10px;
  top: 60px;
  left: 15px;
  overflow:hidden;
}
.numsBase{
  background-color: var(--numbersColor);
  height: 44.4444%;
  width: 75%;
  position: absolute;
  border-radius: 10px;
  top: 33.3333%;
  z-index: 1;
}
.functionBase{
  background-color: var(--functionsColor);
  height: 76.6666%;
  width: 100%;
  border-radius: 10px;
  top: 33.3333%;
  position: absolute;
}
#ThemesContainerDiv{
  background-color: var(--functionsColor);
  height: 408px;
  border-radius: 25px;
  align-self: center;
  position: absolute;
  top: 360px;
  left: 2.5%;
  width: 95%;
}
#themesLine{
  top: 355px;
  height: 0.25px;
  width: 100%;
  position: absolute;
  color: var(--textColor);
}
#themesHeader{
  top: 10px;
  background-color: var(--numbersColor);
  padding: 5px 10px;
  border-radius: 25px;
}
#ThemesDiv{
  height: 340px;
  width: 97%;
  top: 59px;
  left: 1.5%;
  background-color: var(--numbersColor);
  border-radius: 15px;
  position: absolute;
  z-index: 1;
  overflow-x:auto;
  overflow-y: none;
  flex-wrap: nowrap;
  display:flex;
}
#themesDisplayBase{
  position: relative;
  overflow:hidden;
  border-width: 0.0000000005px;
  left: 0px;
  top: 25px;
}
#themeTemplate{
  height: 275px;
  width: 180px;
}
.themeRemove{
  visibility:hidden;
  right: 0;
  top: 25px;
  height: 35px;
  position:absolute;
  z-index: 1;
}
.ThemesLabel{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20;
  color: var(--textColor);
  height: 25px;
  width: 155px;
  left:25px;
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#themeName{
  left: 30px;
  top: 2.5px;
  text-align: center;
  align-self: center;
  font-size: 20;
  position: absolute;
}
#themeTemplateDiv{
  top: 40px;
  height: 275px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}
#minusButton{
  margin-left: 40px;
}
.ThemesLabel input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: -25;
  height: 25px;
  width: 25px;
  background-color: var(--functionsColor);
  border-radius: 50%;
}
.ThemesLabel input:checked ~ .checkmark {
  background-color: var(--functionsColor);
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.ThemesLabel input:checked ~ .checkmark:after {
  display:flex;
}
.ThemesLabel .checkmark:after {
 	top: 4.25px;
	left: 4.25px;
	width: 17px;
	height: 17px;
	border-radius: 50%;
	background: var(--textColor);
}
.displayBaseThemeType{
  background-color: var(--displayColor);
  height: 250px;
  width: 180px;
  position: absolute;
  border-width: 0.0000000005px;
  border-color: #000000;
  border: solid;
  border-radius: 10px;
  top: 90px;
  right: 15px;
}
#CalculationsDiv{
  background-color: var(--functionsColor);
  height: 235px;
  border-radius: 25px;
  align-self: center;
  position: absolute;
  top: 40px;
  left: 2.5%;
  width: 95%;
}
#PreferencesGrid{
  top: 50px;
  display: grid;
  position: absolute;
  height: 187.5px;
  width: 95%;
  left: 0;
  right: 205px;
  grid-template-columns: 100%;
  grid-template-rows: 62.5px 62.5px 62.5px ;
  justify-content: center;
  align-content: end;
}
.settingsTextInputFirst{
  background-color: var(--numbersColor);
  border: solid;
  border-width: 1.5px;
  border-color: var(--textColor);
  height: 25px;
  width: 50px;
  color: var(--textColor);
  border-radius: 8px;
  text-indent: 5px;
  margin-right: 10px;
  right: 60px;
  position: absolute;
}
.settingsTextInput{
  background-color: var(--numbersColor);
  border: solid;
  border-width: 1.5px;
  border-color: var(--textColor);
  height: 25px;
  width: 50px;
  color: var(--textColor);
  text-indent: 5px;
  border-radius: 8px;
  margin-right: 10px;
  right: 0;
  position: absolute;
}
#AboutUsDiv{
  background-color: var(--functionsColor);
  height: auto;
  border-radius: 25px;
  position: relative;
  top: 5px;
  left: 2.5%;
  width: 95%;
}
#aboutUsHeader{
  top: 10px;
  background-color: var(--numbersColor);
  padding: 5px 10px;
  border-radius: 25px;
}
#aboutTag{
  padding-top: 50px;
  padding-left: 1%;
  padding-bottom: 20px;
  width: 98%;
  position: relative;
}
#VersionDiv{
  background-color: var(--functionsColor);
  height: 90px;
  border-radius: 25px;
  position: relative;
  margin-top: 20px;
  left: 2.5%;
  width: 95%;
}
#versionID{
  top: 60px;
  left: 15;
}
#versionImage{
  right: 15px;
  position: absolute;
  top: 10%;
}
#copyright{
  color: var(--textColor);
  bottom: 0px;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
}
@media only screen and (max-aspect-ratio: 3/4) {
  #navColumn{
    width: 100%;
  }
  #colorsTab{
    visibility: hidden;
    left: 100%;
  }
  #PreferencesTab{
    visibility: hidden;
    left: 100%;
  }
  #AboutTab{
    visibility: hidden;
    left: 100%;
  }
  .navButtons{
    text-indent: 100px;
    height: 100px;
  }
  #customFuncDisplayGrid{
    visibility: hidden;
  }
}
@media only screen and (min-aspect-ratio: 3/4) and (max-aspect-ratio: 4/3) {
  .navButtons{
    text-indent: 50px;
    height: 50px;
  }
  #navColumn{
    width: 27%;
  }
  .settingTabContent{
    width: 73%;
    left: 27%;
  }
}
@media only screen and (min-aspect-ratio: 4/3)  {
  .navButtons{
    text-indent: 75px;
    height: 75px;
  }
  #navColumn{
    width: 18%;
  }
  .settingTabContent{
    width: 82%;
    left: 18%;
  }
}
@media only screen and (max-width: 355px){
  .h5Colors{
    visibility: hidden;
  }
  .colorPicker{
    height: 35px;
    width: 65px;
    border-radius: 15px;
  }
}
@media only screen and (max-width: 300px){
  .colorPicker{
    height: 35px;
    width: 35px;
    border-radius:50%;
  }
  #dropbtn{
    width: 35px;
    border-radius: 50%;
    color: transparent;
  }
  #displayText{
    visibility: visible;
    position: absolute;
    top: 7px;
    right: 14.595px;
  }
  #textdropdown:hover #dropbtn {
    border-radius: 50% 50% 0px 0px;
  }
}
@keyframes toSlideLeft{
  0%{
    left: 100%;
  }
  100% {
    left: 0%;
  }
}
@keyframes toSlideRight{
  0%{
    left: 0%;
  }
  100% {
    left: 100%;
  }
}
@keyframes toSlideOut{
  0%{
    left: 0%;
  }
  100% {
    left: -100%;
  }
}
@keyframes toSlideIn{
  0%{
    left: -100%;
  }
  100% {
    left: 0%;
  }
}
#moreFunctionsBody{
  background-color: var(--functionsColor);
  overflow-x: none;
}
#backIcon{
  left: 2px;
  top: 0px;
  z-index: 2;
  position: absolute;
  transform: rotate(180deg);
}
::placeholder {
  color: var(--textColor);
  opacity: 0.2;
}
.textInputTop{
  top: 0;
  left: 0;
  width: 100%;
  resize:none;
  border-style: none;
  padding: 10px;
  padding-top: 25px;
  color: var(--textColor);
  align-content: end;
  font-size: 75px;
  text-align: end;
  background-color: var(--functionsColor);
  z-index: 0;
  position: absolute;
}
#funcGrid{
  position: absolute;
  border-radius: 25px 25px 0 0;
  background-color: var(--numbersColor);
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  display: block;
  flex-wrap: wrap;
  top: 121px;
  bottom: 0px;
  left: 0;
  right: 0;
  overflow-y: scroll;
  
}
#newFunctionsPage{
  left: 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
#nameArea{
  text-align: start;
}
#equationArea{
  font-size: 100vw;
  position: absolute;
  border-radius: 25px 25px 0 0;
  border: none;
  background-color: var(--numbersColor);
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  top: 121px;
  bottom: 0px;
  left: 0;
  right: 0;
  width: 100%;
  resize: none;
  padding: 15px;
}
#newFunction{
  background-color: var(--displayColor);
  border: none;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  font-size: 50px;
  z-index: 2;
  right: 10px;
  bottom: 10px;
  position: absolute;
  align-self: center;
}
#backIconFunc{
  transform: rotate(180deg);
  left: 0;
  top: 0;
  z-index: 2;
  position: absolute;
}
@media only screen and (min-aspect-ratio: 4/3){
  
}
#customFuncTab{
  background-color: var(--displayColor);
}
#nameFunc{
  top: 0;
  left: 0;
  width: 100%;
  height:15%;
  resize:none;
  border-style: none;
  padding: 10px;
  padding-top: 25px;
  color: var(--textColor);
  align-content: end;
  font-size: 75px;
  text-align: end;
  background-color: var(--displayColor);
  z-index: 0;
  overflow-x: hidden;
  position: absolute;
}
#varEquationContainer{
  position: absolute;
  background-color: var(--numbersColor);
  display: block;
  flex-wrap: wrap;
  border-radius: 25px;
  top: 15%;
  height: 30%;
  left: 2.5%;
  right: 2.5%;
  overflow-y: scroll;
}
#varGrid{
  width: 100%;
  height:60%;
  position: absolute;
  bottom: 0px;
  display: grid;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-auto-rows: 35px;
  overflow-y: auto;
}
.variableContainer{
  background-color: var(--functionsColor);
  height: 25px;
  width: 95%;
  margin-left: 2.5%;
  border-radius: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
  flex-wrap: nowrap;
}
#varLabel{
  display:inline-flex;
  width: 100%;
}
#variableName{
  border-radius: 50%;
  height: 25px;
  width: 25px;
  flex-shrink: 0;
  text-align: center;
  background-color: var(--displayColor);
  
}
#variableEntry{
  border: none;
  background-color: transparent;
  left: 25px;
  width:100%;
  bottom: 0;
  margin-right: 2.5px;
  height: 25px;
  text-align: center;
}
#resultPane{
  background-color: var(--numbersColor);
  top: 47.5%;
  bottom: 2.5%;
  width: 95%;
  left: 2.5%;
  position: absolute;
  border-radius: 25px;
}
#EquationFunc{
  width: 100%;
  height: 40%;
  padding: 10px;
  padding-bottom: 5px;
  color: var(--textColor);
  background-color: transparent;
  z-index: 0;
  overflow-y: auto;
  font-size: 4.5vh;
  position: relative;
}
#modeSwitcher{
  top:10px;
  left: 10px;
  height: 40px;
  display: inline-block;
  position: absolute;
  width: 300px;
}
#graphMode{
  left: 75px;
}
#tableMode{
  left:150px;
}
.modeButton{
  height: 100%;
  width : 70px;
  background-color: transparent;
  border: none;
  border-radius: 25px;
  z-index: 2;
  position: absolute;
}
#selectorUnder{
  top: 0px;
  height: 40px;
  width: 70px;
  z-index: 1;
  position: absolute;
  background-color: var(--functionsColor);
  border-radius: 25px;
}
#FunctionDiv{
  top: 50px;
  left: 2.5%;
  right: 2.5%;
  bottom: 2.5%;
  position: absolute;
}
#resultDiv{
  margin-top: 5px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 25px;
  background-color: var(--displayColor);
  position: absolute;
}
#equalsHeader{
  color: var(--textColor);
  
}
#GraphDiv{
  top: 50px;
  left: 2.5%;
  right: 2.5%;
  bottom: 2.5%;
  overflow-y: auto;
  position: absolute;
  visibility: hidden;
}
#graphContainer{
  height: calc(100% - 110px);
  margin-top: 10px;
  width: 100%;
  background-color: var(--functionsColor);
  border-radius: 20px;
}
#funcChart{
  height: 100%;
  width: 100%;
}
#tableContainer{
  height: calc(100% - 110px);
  margin-top: 10px;
  width: 100%;
  background-color: var(--functionsColor);
  border-radius: 20px;
}
#funcTable{
  position: relative;
  padding-top: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  margin-left: 10px;
  border-collapse: collapse;
  border-radius: 20px;
}
#funcTable, td, th{
  border: 1px solid var(--textColor);
  border-radius: 20px;
  text-align: left;
}
.selectorDiv{
  background-color: var(--functionsColor);
  padding: 5px;
  padding-right:50px;
  border-radius: 0 25px 25px 25px;
  width: fit-content;
}
.funcDetails[open] summary{
  border-radius: 20px 20px 0 0;
}
.secondaryFuncHeaders{
  color: var(--textColor);
  text-align: left;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 25px;
  background-color: var(--functionsColor);
  padding: 5px 10px;
  border-radius: 25px 25px 25px 25px;
  margin-top: 10px;
  width: fit-content;
}
.funcHeaders{
  margin: 5px;
  padding-left: 10px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 25px;
  width: fit-content;
  background-color: var(--displayColor);
}
.funcInputs{
  margin-left: 5px;
  height: 25px;
  width: 60px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 25px;
  border: none;
  background-color: var(--numbersColor);
}
.stepInputs{
  margin-left: 5px;
  height: 25px;
  width: 40px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 25px;
  border: none;
  background-color: var(--numbersColor);
}
#tableDiv{
  top: 50px;
  left: 2.5%;
  right: 2.5%;
  bottom: 2.5%;
  position: absolute;
  visibility: hidden;
}
@media only screen and (min-aspect-ratio: 3/4){
  #varEquationContainer{
    height: 82.5%;
    width: 45%;
    left: 3.33333%;
  }
  #resultPane{
    top: 15%;
    width: 45%;
    left: 51.8%;
  }
  #EquationFunc{
    height: auto;
    display: block;
    max-width: 100%;
  }
  #vargrid{
    position: relative;
  }
}
#helpBody{
  background-color: var(--displayColor); 
}
.helpDivs{
  background-color: var(--numbersColor);
  position: relative;
  border-radius: 25px;
  width: 95%;
  left: 2.5%;
  margin-bottom: 10px;
}
.secondaryHeaders{
  color: var(--textColor);
  text-align: left;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 25px;
  background-color: var(--functionsColor);
  padding: 5px 10px;
  border-radius: 25px 25px 25px 25px;
  width: 100%;
}
.helpParagraphs{
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  color: var(--textColor);
  font-family: Arial, Helvetica, sans-serif;
  width : 95%;
  margin-left: 2.5%;
}
#MemFuncDiv{
  margin-top: 20px;
}
#MainCalculatorHelp{
  overflow: auto;
}
#v1Header{
  width: fit-content;
  margin-left: 2.5%;
}
#FunctionsDiv{
  margin-top: 20px;
}
#ColorsHelpDiv{
  margin-top: 20px;
}
@media only screen and (max-aspect-ratio: 3/4) {
  #navColumn{
    width: 100%;
  }
  #mainCalculatorHelp{
    visibility: hidden;
    left: 100%;
  }
  #customFuncHelp{
    visibility: hidden;
    left: 100%;
  }
  #settingsHelp{
    visibility: hidden;
    left: 100%;
  }
}
